.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 100px;
    color: #fff;
}





section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.itemDetalle {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    max-width: 600px;
}



.imgDetalle {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}


.nombreDetalle {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}



.descripcionDetalle {
    margin-top: 10px;
    text-align: justify;
    color: #fff;
}



.precioDetalle {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.contadorProducto {
    margin-top: 20px;
}


.btnDetalle {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 55px;
}